<div class="panel  panel-primary">
    <div class="panel-heading">
        <h2>Mieux notés</h2>
    </div>

    {% if entities is empty %}
        <p><small>{{ result }}</small></p>
    {% else %}
        <div class="panel-body">
            {% for entity in entities %}
                <h3><a href="{{ path('document_show', { 'slug': entity.slug }) }}">{{ entity.name }}</a></h3>
                <em>note : {{ entity.mark }}</em>
                <p>{{entity.comment | truncate(50) }}</p>
                <p><span class="text-left">Le {{ entity.creationDate|date('d-m-Y') }}</span class="text-right"> Par <a href="mailto:{{ entity.owner.email }}">{{ entity.owner.username }}</a><span></span></p>
            {% endfor %}
        </div>
    {% endif %}
</div>
