{% extends '::base.html.twig' %}

{% block title %}Liste des médias{% endblock %}

{% block h1 %}Liste des médias{% endblock %}

{% block body -%}
    <div>
        {% for entity in entities %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>
                        <a style="color:white!important" href="{{ path('document_show', { 'slug': entity.slug }) }}">
                            {{ entity.name }}
                        </a>
                        <span class="badge">{{ entity.mark }}</span>
                    </h4>
                </div>

                <div class="panel-body">
                    <div class="col-xs-12">
                        <p>{{entity.comment | truncate(50) }}</p>
                    </div>
                    <div class="col-xs-3">
                        <p>Catégorie : {{ entity.category.name }}</p>
                    </div>
                    <div class="col-xs-3">
                        <p>Type de fichier : {{ entity.type.name }}</p>
                    </div>
                    <div class="col-xs-3">
                        <p>{% if entity.creationdate %}<i class="glyphicon glyphicon-calendar"></i> {{ entity.creationdate|date('d-m-Y') }}{% endif %}</p>
                        </div>
                    <div class="col-xs-3">
                        <p>
                            <a href="mailto:{{ entity.owner.email }}">
                                <i class="glyphicon glyphicon-user"></i>
                                {{ entity.owner.username }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{{ knp_pagination_render(entities) }}

{% endblock %}
