{% extends '::base.html.twig' %}

{% block title %}Liste des médias{% endblock %}

{% block body -%}

    <h1>Liste des médias</h1>

    <table class="records_list table table-hover" data-height="299" data-sort-name="name" data-sort-order="id">
        <thead>
            <tr>
                <th data-field="name" data-align="right" data-sortable="true">Nom</th>
                <th data-field="path" data-align="right" data-sortable="true">Catégorie</th>
                <th data-field="path" data-align="right" data-sortable="true">Type de fichier</th>
                <th data-field="path" data-align="right" data-sortable="true">Auteur</th>
                <th data-field="creation_date" data-align="right" data-sortable="true">Date de création</th>
                <th data-field="mark" data-align="right" data-sortable="true">Note</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('document_show', { 'slug': entity.slug }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.category.name }}</td>
                    <td>{{ entity.type.name }}</td>
                    <td><a href="mailto:{{ entity.owner.email }}"><i class="glyphicon glyphicon-user"></i>{{ entity.owner.username }}</a></td>
                    <td>{% if entity.creationdate %}<i class="glyphicon glyphicon-calendar"></i> {{ entity.creationdate|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.mark }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(entities) }}

    {% endblock %}
