{% extends '::base.html.twig' %}

{% block title %}Résultat de la recherche{% endblock %}

{% block h1 %}Résultat de la recherche{% endblock %}

{% block body -%}

<div class="input-group" id="form-index">
{{ render (path( 'media_main_search' ))}}
</div>

<div class="page-header">
    {{ entities|length }} resutat{% if entities|length > 1 %}s{% endif %} trouvé{% if entities|length > 1 %}s{% endif %} pour :
    {% for kw in keywords %}
        {{ kw }}{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
</div>

<div>
    {% for entity in entities %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    <a style="color:white!important" href="{{ path('document_show', { 'slug': entity.slug }) }}">
                        {{ entity.name }}
                    </a>
                    {% if entity.mark <= 7 %}
                            <span class="label label-danger label-as-badge">
                        {% elseif entity.mark <= 14 %}
                            <span class="label label-warning label-as-badge">
                        {% else %}
                            <span class="label label-success label-as-badge">
                        {% endif %}
                            {{ entity.mark }}</span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-xs-3">Catégorie : {{ entity.category.name }}</div>
                <div class="col-xs-3">Type de fichier : {{ entity.type.name }}</div>
                <div class="col-xs-3">{% if entity.creationdate %}<i class="glyphicon glyphicon-calendar"></i> {{ entity.creationdate|date('Y-m-d') }}{% endif %}</div>
                <div class="col-xs-3"><a href="mailto:{{ entity.owner.email }}"><i class="glyphicon glyphicon-user"></i>{{ entity.owner.username }}</a></div>
            </div>
        </div>
    {% endfor %}
</div>
{{ knp_pagination_render(entities) }}

{% endblock %}
