{% extends '::base.html.twig' %}

{% block title %}{{entity[0].name}}{% endblock %}

{% block body -%}

<div class="panel  panel-primary">
    <div class="panel-heading">
        <p style="float:left;">{{entity[0].name}}</p>
        <p style="float:right;">Le {{ entity[0].creationdate|date('d-m-Y') }} par <em>{{entity[0].owner.username}}</em></p>
    </div>

    <div class="panel-body">
        <object data='{{ asset(entity[0].webpath) }}#view=FitH'
                    type='{{ entity[0].type.mimetype }}'
                    width='100%'
                    height='100%'>

                <p>It appears your Web browser is not configured to display {{ entity[0].type.name }} files.
                    No worries, just <a href='{{ entity[0].webpath }}'>click here to download {{ entity[0].name }}.</a>
                    Or here to <a class="plugin-search">search for plugin</a>.
                </p>

        </object>
        <p>{{ entity[0].comment }}</p>
        <p>Note : {{entity[0].mark}}</p>
        <p><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>: <a href="#"  download="#">Télécharger {{entity[0].name }}</a><p/>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        var url = "https://www.google.com/search?q=" + navigator.appCodeName + "+{{ entity[0].type.mimetype }}+viewer";
        $(".plugin-search").attr("href", url);
    </script>
{% endblock %}
