{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
<!--     <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p> -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profil Utilisateur</h3>
        </div>
        <div class="panel-body">

        <div class="media">
            <div class="media-left">
                <a href="#">
                  <img class="media-object" src="{{ asset('images/hap.png') }}" alt="..."> <!-- METTRE CHEMIN VERS IMAGES CHOISIE PAR L'UTILISATEUR -->
                </a>
            </div>
            <div class="media-body">

                <h4 class="media-heading">Informations Personnelles</h4>
                    Nom d'utilisateur : {{ user.username }} <br>
                    Mot de passe : <a class='label label-warning' href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a> <br>
                    Email : {{ user.email }} <br>

                    <hr>

                <h4 class="media-heading">Mes documents partagés</h4>
                <table class="table table-condensed">
                  <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom du document</th>
                            <th>Date de partage</th>
                            <th>Note du document</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for doc in docs %}
                            <tr>
                                <th scope="row"></th>
                                <td><a href="{{ path('media_show', { 'id': doc.id }) }}" title='Aller vers ce document'>{{ doc.name }}</a></td>
                                <td>{{ doc.creationDate | date('d-m-Y') }}</td>
                                <td>{{ doc.mark }}/20</td>
                            </tr>
                        {% else %}
                             <tr>
                                <td colspan="4">Vous n'avez partagé aucun document.</td>
                            </tr>
                        {% endfor %}
                  </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>

</div>
