{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media list</h1>

    <table class="records_list table table-hover" data-height="299" data-sort-name="name" data-sort-order="id">
        <thead>
            <tr>
                <th data-field="id" data-align="right" data-sortable="true">Id</th>
                <th data-field="name" data-align="right" data-sortable="true">Name</th>
                <th data-field="comment" data-align="right" data-sortable="true">Comment</th>
                <th data-field="path" data-align="right" data-sortable="true">Path</th>
                <th data-field="creation_date" data-align="right" data-sortable="true">Creation_date</th>
                <th data-field="update_date" data-align="right" data-sortable="true">Update_date</th>
                <th data-field="mark" data-align="right" data-sortable="true">Mark</th>
                <th data-field="actions" data-align="center" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.comment }}</td>
                <td>{{ entity.path }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedate %}{{ entity.updatedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.mark }}</td>
                <td style='min-width: 132px'>
                <div class="btn-group">
                    <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-edit icon-white"></i> Actions</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('media_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('media_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="btn btn-default">
        <a href="{{ path('media_new') }}">
            <i class="glyphicon glyphicon-plus"></i> Create a new entry
        </a>
    </div>
    {% endblock %}
