{% extends '::base_admin.html.twig' %}

{% block body -%}

    <h1>Liste des média</h1>
<div class="table-responsive">
    <table class="records_list table table-hover" data-height="299" data-sort-name="name" data-sort-order="id">
        <thead>
            <tr>
                <th data-field="name" data-align="right" data-sortable="true">Nom</th>
                <th data-field="path" data-align="right" data-sortable="true">Catégorie</th>
                <th data-field="path" data-align="right" data-sortable="true">Type de fichier</th>
                <th data-field="path" data-align="right" data-sortable="true">Auteur</th>
                <th data-field="isPublished" data-align="right" data-sortable="true">Publié</th>
                <th data-field="creation_date" data-align="right" data-sortable="true">Date de création</th>
                <th data-field="update_date" data-align="right" data-sortable="true">Date de modification</th>
                <th data-field="mark" data-align="right" data-sortable="true">Note</th>
                <th data-field="actions" data-align="center" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('media_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.category.name }}</td>
                    <td>{{ entity.type.name }}</td>
                    <td>{{ entity.owner.username }}</td>
                    <td>
                        {% if entity.isPublished == false %} Non {% else %}Oui{% endif %}
                    </td>
                    <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.updatedate %}{{ entity.updatedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.mark }}</td>
                    <td style='min-width: 132px'>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-edit icon-white"></i> Actions</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('media_show', { 'id': entity.id }) }}">Voir</a>
                                </li>
                                {% if user_id == entity.owner.id or is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('media_edit', { 'id': entity.id }) }}">Editer</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {{ knp_pagination_render(entities) }}

    <div class="btn btn-default">
        <a href="{{ path('media_new') }}">
            <i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau média
        </a>
    </div>

    <div class="well">
        <form action="{{ path('media_drop') }}"
              method="POST"
              class="dropzone"
              style="background-image: none; min-height: 64px;"
              id="media_dropzone">
        </form>
    </div>
{% endblock %}

{% block javascripts -%}

    {{ parent() }}

    <script type="text/javascript">

        Dropzone.autoDiscover = false;

        new Dropzone("#media_dropzone", {
            maxFilesize: 100, // MB
            dictDefaultMessage: "Glisser un fichier ici pour l'ajouter",
            init: function () {
                console.log("Initializing Dropzone");
                this.on("success", function (file, responseText) {
                    console.log("Dropzone upload successful");
                    document.write(responseText);
                    document.close();
                    window.scrollTo(0, 0);
                });
            }
        });
    </script>
{% endblock %}
