{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Media</h1>

    <table class="record_properties table table-hover" data-height="299" data-sort-name="name" data-sort-order="id">
        <tbody>
            <tr>
                <th data-field="id" data-align="right" data-sortable="true">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th data-field="name" data-align="right" data-sortable="true">Nom</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th data-field="comment" data-align="right" data-sortable="true">Despcrition</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th data-field="path" data-align="right" data-sortable="true">Chemin</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th data-field="creation_date" data-align="right" data-sortable="true">Date de création</th>
                <td>{{ entity.creationdate|date('Y-m-d ') }}</td>
            </tr>
            <tr>
                <th data-field="update_date" data-align="right" data-sortable="true">Date de modification</th>
                <td>{{ entity.updatedate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th data-field="mark" data-align="right" data-sortable="true">Note</th>
                <td>{{ entity.mark }}</td>
            </tr>

            <tr>
                <th data-field="isPublished" data-align="right" data-sortable="true">Publié</th>
                <td>
                    {% if entity.isPublished == false %} Non {% else %}Oui{% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn btn-default">
                <a href="{{ path('media_edit', { 'id': entity.id }) }}">
                    <i class="glyphicon glyphicon-edit"></i> Editer
                </a>
            </div>
            <div class="btn btn-default">
                <a href="{{ path('media_delete', { 'id': entity.id }) }}">
                    <i class="glyphicon glyphicon-backward"></i> Supprimer
                </a>
            </div>
            <div class="btn btn-default">
                <a href="{{ path('media') }}">
                    <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                </a>
            </div>
        </div>
    </div>
{% endblock %}
