<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include '::header.html.twig' %}
        <div class="container">
            <aside class="col-lg-3">
                {{ render(path('getbestmark',{'count':2})) }}
                {{ render(path('clock')) }}
                {{ render(path('getlast')) }}
            </aside>
            <section class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </section>
        </div>
        {% include '::footer.html.twig' %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript">
              $(document).ready(function () {
                $('.clock').FlipClock({
                  clockFace: 'TwentyFourHourClock'
                });

                $('#tags-canvas').tagcanvas({
                  textColour: '#23A3DE',
                  outlineColour: '#23A3DE',
                  maxSpeed: 0.5
                }, 'tags');
              });
            </script>
        {% endblock %}
    </body>
</html>
