<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            {% if app.session.get('theme') != "blue" %}
                <link rel="stylesheet" href="{{ asset('css/override_'~craue_setting('theme')~'.css') }}" />
                <link rel="stylesheet" href="{{ asset('css/override_'~app.session.get('theme')~'.css') }}" />
            {% endif %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include '::header_admin.html.twig' %}
        <div class="container">
            <section class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block h1 %}{% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </section>
        </div>
        {% include '::footer.html.twig' %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/notif.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
