<div class="background-header">
	<div class="logo container">
		<a href="{{ path('index') }}"><img src="{{ asset('logo.png') }}"></a>
	</div>
</div>
<div class="background-nav">
	<nav class="container navbar navbar-default">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	        <!-- <li role="presentation"><a href="{{ path('index') }}">Home</a></li> -->
	        {{ render(path('best_category')) }}
	    </ul>
	    <div class="navbar-form navbar-right">
		{{ render (path( 'media_search' ))}}
	    </div>
      </div>
	</nav>
</div>
{{ render(path('gettag')) }}
