<div class="pull-right mg20px">
Couleur du site en session :
    <div class="btn-group">
       <a class="btn btn-default btn-sm blue" href="{{ path('session', {name:'theme', value:'blue'}) }}">bleu</a>
       <a class="btn btn-default btn-sm green" href="{{ path('session', {name:'theme', value:'green'}) }}">vert</a>
       <a class="btn btn-default btn-sm pink" href="{{ path('session', {name:'theme', value:'pink'}) }}">rose</a>
   </div>
</div>
<div class="background-header">
	<div class="logo container">
            <a href="{{ path('index') }}"><img src="{{ asset('logo.png') }}"><span class="logoIO">IO</span></a>
	</div>
</div>

<div class="background-nav">
	<nav class="container navbar navbar-default">
		<section class="col-lg-12">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse custom" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li role="presentation"><a href="{{ path('index') }}">Accueil</a></li>
                    <li role="presentation"><a href="{{ path('listMedia') }}">Médias</a></li>
                    <li role="presentation"><a href="{{ path('list_category') }}">Catégories</a></li>
                    <li role="presentation"><a href="{{ path('list_filetype') }}">Types de médias</a></li>
                    <li role="presentation"><a href="{{ path('listMedia') }}">Contributeurs</a></li>
                    <li role="presentation"><a href="{{ path('contact') }}">Contact</a></li>

				   {#{ render(path('best_category')) }#}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li role="presentation">
                            <a href="" id="userCard" class="userCardButton" role="button" onclick="toggle_visibility(this.id);"><span class="glyphicon glyphicon-user"></span> {{ app.security.getToken().getUser().getUsername() | capitalize }}</a>
                        </li>
                        {{ render(path('user_card',{'id': app.security.getToken().getUser().getId() })) }}
                        {% else %}
                            <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
				</ul>
				<div class="navbar-form navbar-right">
					{{ render (path( 'media_search' ))}}
				</div>
			</div>
		</section>
	</nav>
</div>

{{ render(path('gettag')) }}
