<div class="background-header">
	<div class="logo">
		<a href="{{ path('index') }}"><img src="{{ asset('logo.png') }}"></a>
	</div>
</div>
<div class="background-nav">
	<nav class="navbar navbar-default">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	        <li role="presentation"><a href="{{ path('index') }}">Home</a></li>
	        <li role="presentation"><a href="{{ path('document',{'id':2}) }}">Média</a></li>
	        <li role="presentation"><a href="">Liste des médias</a></li>
	    </ul>
	    <div class="navbar-form navbar-right">
	    	{{ render (path( 'media_search' ))}}
	    </div>
      </div>
	</nav>
</div>
{{ render(path('gettag',{'count':10})) }}
