{% extends '::base_admin.html.twig' %}
{% block h1 -%}
    Liste des types de média
{% endblock %}
{% block body -%}
    <p>Il y a {{count}} {% if count > 1 %}types de fichier{% else %}type de fichier{% endif %}.</p>

    <table class="records_list table table-hover" data-sort-name="name" data-sort-order="id">
        <thead>
            <tr>
                <th data-field="name" data-align="right" data-sortable="true">Nom</th>
                <th data-field="ext" data-align="right" data-sortable="true">Extenstion</th>
                <th data-field="comment" data-align="right" data-sortable="true">Commentaire</th>
                <th data-field="mimetype" data-align="right" data-sortable="true">Mimetype</th>
                <th data-field="actions" data-align="center" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('mediatype_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.ext }}</td>
                    <td>{{ entity.comment }}</td>
                    <td>{{ entity.mimetype }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-edit icon-white"></i> Actions</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('mediatype_show', { 'id': entity.id }) }}">Voir</a>
                                </li>
                                <li>
                                    <a href="{{ path('mediatype_edit', { 'id': entity.id }) }}">Editer</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="btn btn-default">
        <a href="{{ path('mediatype_new') }}">
            <i class="glyphicon glyphicon-plus"></i> Créer un nouveau type de média
        </a>
    </div>
{% endblock %}
