{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MediaType</h1>

    <table class="record_properties table table-hover" data-height="299" data-sort-name="name" data-sort-order="id">
        <tbody>
            <tr>
                <th data-field="id" data-align="right" data-sortable="true">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th data-field="name" data-align="right" data-sortable="true">Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th data-field="ext" data-align="right" data-sortable="true">Ext</th>
                <td>{{ entity.ext }}</td>
            </tr>
            <tr>
                <th data-field="comment" data-align="right" data-sortable="true">Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th data-field="mimetype" data-align="right" data-sortable="true">Mimetype</th>
                <td>{{ entity.mimetype }}</td>
            </tr>
        </tbody>
    </table>

        <div class="btn-toolbar">
    <div class="btn-group">
        <div class="btn btn-default">    
            <a href="{{ path('mediatype') }}">
                <i class="glyphicon glyphicon-backward"></i> Back to the list
            </a>
        </div>
                    <div class="btn btn-default">
                <a href="{{ path('mediatype_edit', { 'id': entity.id }) }}">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                </a>
            </div>
                            {{ form(delete_form) }}
            </div>
</div>{% endblock %}
