{% extends '::base.html.twig' %}
{% block h1 %} Horloge {% endblock %}
{% block body -%}

    <table class="records_list table table-hover" data-sort-name="name" data-sort-order="id">
        <thead>
            <tr>
                <th data-field="id" data-align="right" data-sortable="true">Id</th>
                <th data-field="lagMinutes" data-align="right" data-sortable="true">Lagminutes</th>
                <th data-field="actions" data-align="center" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('clock_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.lagMinutes }}</td>
                <td><div class="btn-group">
    <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-edit icon-white"></i> Actions</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>

    <ul class="dropdown-menu">            <li>
                <a href="{{ path('clock_show', { 'id': entity.id }) }}">show</a>
            </li>            <li>
                <a href="{{ path('clock_edit', { 'id': entity.id }) }}">edit</a>
            </li>    </ul>
</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="btn btn-default">
        <a href="{{ path('clock_new') }}">
            <i class="glyphicon glyphicon-plus"></i> Create a new entry
        </a>
    </div>
    {% endblock %}
