{% extends '::base_admin.html.twig' %}

{% block h1 %}
Informations Personnelles
{% endblock %}

{% block body -%}

<div class="media">
    <div class="media-left">
        <a href="">
            {% if isAdmin %}
                {% if entity.sex == 1 %}
                    <!-- ADMIN HOMME -->
                    <img class="media-object" src="{{ asset('images/adminMale.png') }}">
                {% elseif entity.sex == 2 %}
                    <!-- ADMIN FEMME -->
                    <img class="media-object" src="{{ asset('images/adminFemale.png') }}">
                {% endif %}
            {% elseif isAdmin != true %}
                {% if entity.sex == 1 %}
                    <!-- ADMIN HOMME -->
                    <img class="media-object" src="{{ asset('images/userMale.png') }}">
                {% elseif entity.sex == 2 %}
                    <!-- ADMIN FEMME -->
                    <img class="media-object" src="{{ asset('images/userFemale.png') }}">
                {% endif %}
            {% endif %}

        </a>
    </div>
    <div class="media-body">


        <p>Id : {{ entity.id }}</p>
        <p>Nom d'utilisateur : {{ entity.username }}</p>
        <p>Nombre de connexion : {{ entity.nbConnection }}</p>
        <p>Rôle : {% for role in entity.roles %} {{ role }}&nbsp; {% endfor %} </p>
        <p>Email : {{ entity.email }} </p>
        <!-- 1 - Male -->
        <!-- 2 - Female -->
        <!-- 3 - Other -->
        {% if entity.sex == 1 %}
            Sexe : Homme <br>
        {% elseif entity.sex == 2 %}
            Sexe : Femme <br>
        {% elseif entity.sex == 3 %}
            Sexe : Autre <br>
        {% endif %}

        &nbsp;

        <div class="btn-toolbar">
            <div class="btn-group">
                <div class="btn btn-default">
                    <a href="{{ path('user') }}">
                        <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                    </a>
                </div>
                <div class="btn btn-default">
                    <a href="{{ path('fos_user_profile_edit', { 'id': entity.id }) }}">
                        <i class="glyphicon glyphicon-edit"></i> Editer
                    </a>
                </div>
                <div class="btn btn-default">
                    <a href="{{ path('fos_user_change_password', { 'id': entity.id }) }}">
                        <i class="glyphicon glyphicon-edit"></i> Modifier le mot de passe
                    </a>
                </div>

                <div class="btn btn-default">
                    <a href="{{ path('user_delete', { 'id': entity.id }) }}">
                        <i class="glyphicon glyphicon-trash"></i> Supprimer
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <h4 class="media-heading">Mes documents partagés</h4>
        &nbsp;

        <div class="row">
            {% for doc in docs %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <!-- <img src="..." alt="..."> -->
                        <!-- <i class="fa fa-file-pdf-o"></i> AJOUTER L'IMAGE POUR LE TYPE DE DOCUMENT -->
                        <div class="caption">

                            <p>Titre : {{ doc.name }}</p>
                            <p>Date de création : {{ doc.creationDate | date('d-m-Y') }}</p>
                            <p>Note : {{ doc.mark }}</p>
                            &nbsp;
                            <p>
                                <a href="{{ path('media_show', { 'id': doc.id }) }}" class="btn btn-primary" role="button">Aller vers le document</a>
                            </p>
                        </div>

                    </div>
                </div>
            {% else %}

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <!-- <img src="..." alt="..."> -->
                        <!-- <i class="fa fa-file-pdf-o"></i> AJOUTER L'IMAGE POUR LE TYPE DE DOCUMENT -->
                        <center><h3 class="label label-warning">ATTENTION</h3></center>
                        <div class="caption">
                            <center><p>Vous n'avez partagé aucun document</p></center>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {{ knp_pagination_render(docs) }}

        </div>

    </div>
</div>

{% endblock %}
