<div class="userCardBlock">
    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    <div class="userCardContent">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="{{ asset('images/fond.png') }}">
                    </div>
                    <div class="user">
                        <img class="img-circle" src="{{ asset('images/userCard.png') }}">
                    </div>
                    <div class="content">
                        <div class="main">
                            <h3 class="name">{{ userCard.username }}</h3>
                            <p class="profession">{% for role in userCard.roles %} {{ role }}&nbsp; {% endfor %}</p>
                            <p>
                                <i class="glyphicon glyphicon-user"></i>&nbsp;
                                {% if userCard.sex == 1 %}
                                Homme
                                {% elseif userCard.sex == 2 %}
                                Femme
                                {% elseif userCard.sex == 3 %}
                                Autre
                                {% endif %}
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-globe"></i>&nbsp;
                                {% if userCard.nbConnection == 1 %}
                                {{ userCard.nbConnection}} connexion
                                {% elseif userCard.nbConnection > 1 %}
                                {{ userCard.nbConnection}} connexions
                                {% endif %}
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp;
                                {{ userCard.email }}
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-time"></i>&nbsp;
                                Connecté depuis {{ interval | date('%H heure(s) %I minute(s) %s seconde(s)') }}

                            </p>
                        </div>
                        <div class="footer">
                            <div class="btn-group">
                                <div class="btn btn-default">
                                    <a href="{{ path('fos_user_profile_edit', { 'id': userCard.id }) }}">
                                        <i class="glyphicon glyphicon-edit"></i> Editer
                                    </a>
                                </div>
                                <div class="btn btn-default">
                                    <a href="{{ path('fos_user_change_password', { 'id': userCard.id }) }}">
                                        <i class="glyphicon glyphicon-edit"></i> Modifier le mot de passe
                                    </a>
                                </div>
                            </div>
                            <div class="btn btn-default">
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="glyphicon glyphicon-backward"></i> Déconnexion
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
